* {
    margin:0;
}
body, html {
    height:100%;
}

.slide {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #ACAAAA;
}

#home {
	background-image: url("../images/congruent_outline.png");
}

.white {
	color: #FFFFFF;
}

.blue {
	color: blue;
}

.jumbotron {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /*Safari, Chrome*/
	-moz-transform: translate(-50%, -50%); /*Firefox*/
	-ms-transform: translate(-50%, -50%); /*IE*/
	-o-transform: translate(-50%, -50%); /*Opera*/
	transform: translate(-50%, -50%);
    text-align: center;
	width: 100%;
	background-color: transparent;
}

.jumbotron h1 {
	font-family: 'Cinzel', Helvetica;
}
		
p {
	font-family: 'Poiret One', Garamond;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 14px;
  line-height: 1.33;
  font-family: 'Overlock', Garamond;
  border-radius: 50%;
  color: #000000;
  background-color: #4EC8F5;
  vertical-align: middle;
}

.btn-circle.btn-xl:hover {
	background-color: #FFFFFF;
}